@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@import "./breakpoints/breakpoints.scss";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Utility */

.cards{
    padding: 3rem;
    border-top-right-radius: 5px;   
    border-top-left-radius: 5px;

    
    
           

    h1{
        color:hsl(0, 0%, 95%);
        text-transform: uppercase;
        margin: 1.3rem 0;
    }

    p{
        color: hsla(0, 0%, 100%, 0.75);
        margin-bottom: 1.5rem;
        line-height: 2;

        @include media(">tablet"){
            margin-bottom:6rem;        
        }
    }

    button{
        background-color: hsl(0, 0%, 95%);        
        padding: 15px 45px;
        border-radius: 25px;
        border: none;
        font-weight: 700;
        cursor: pointer;

        button:hover{
        @include media(">tablet"){
            background: hsl(31, 77%, 52%);               
        }
     }
    }

}

body{
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

.container{
    width: 90%;
    margin: 4rem auto;

    @include media(">tablet"){
        display:flex;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color:#fff;
        padding: 10rem;
    }
    
        

    .sedans{
        background-color: hsl(31, 77%, 52%);
       
        button{            
            color: hsl(31, 77%, 52%);
            
        }
        
    }

    .suvs{
        background-color: hsl(184, 100%, 22%);
        border-radius: 0;
       
        button{            
            color:hsl(184, 100%, 22%);
            
        }
        
    }

    .luxury{
        background-color: hsl(179, 100%, 13%);
        border-top-right-radius: 0;   
        border-top-left-radius: 0;
        border-bottom-right-radius: 5px;   
        border-bottom-left-radius: 5px;
       
        button{            
            color: hsl(179, 100%, 13%);
            
        }
        
    }
}